<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects_</title>
    </head>

    <body>
        {{> header }}       
        <p>A list of my projects</p>    
        {{> footer }}
        
    </body>
</html>