<!DOCTYPES html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Weightlifting</title>
    </head>

    <body>
        <h1>Olympic Weightlifting</h1>
        <p>This an early page of how i want the weigtlifting page to look like</p>
    </body>
    
</html>